dev/jade/content-editable.jade
doctype html
div(style="width:300px;")
    div([hidden]='!edit')
        .input-group
            input.form-control(type="text" value="{{data.value}}" #localUpdate)
            span.input-group-btn
                button.btn.btn-default(type='button', (click)='emitValue($event, localUpdate.value)') OK
                button.btn.btn-default(type='button', (click)='toggleInput()') X
    div([hidden]='edit', (click)='toggleInput()') {{data.value}}

dist/templates/content-editable.html
<!DOCTYPE html>
<div style="width:300px;">
  <div [hidden]="!edit">
    <div class="input-group">
      <input type="text" value="{{data.value}}" #localUpdate class="form-control"><span class="input-group-btn">
        <button type="button" (click)="emitValue($event, localUpdate.value)" class="btn btn-default">OK</button>
        <button type="button" (click)="toggleInput()" class="btn btn-default">X</button></span>
    </div>
  </div>
  <div [hidden]="edit" (click)="toggleInput()">{{data.value}}</div>
</div>
