dist/templates/locations.html

<h1>R.A.T.T : Station Locations!</h1><span [hidden]="!isLoading">Getting data...</span><span [hidden]="error">{{error}}</span><span [hidden]="!toBeSaved">
  <button (click)="save()" class="btn btn-success btn-block">Save</button></span>
<div class="form-group">
  <label>Location Filter</label>
  <input type="text" #inputFilter (keyup)="0" class="form-control">
</div>
<table [hidden]="isLoading" class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of locations | locationFilter:inputFilter.value">
      <td>{{location.id}}</td>
      <td>{{location.name}}</td>
      <td> 
        <content-editable [data]="getData(location, &quot;latitude&quot;)" [(edit)]="location.editable" (valueEmitter)="valueListener($event)"></content-editable>
      </td>
      <td> 
        <content-editable [data]="getData(location, &quot;longitude&quot;)" [(edit)]="location.editable" (valueEmitter)="valueListener($event)"></content-editable>
      </td>
    </tr>
  </tbody>
</table>

dev/jade/locations.jade
h1
  | R.A.T.T : Station Locations!
span([hidden]='!isLoading') Getting data...
span([hidden]='error') {{error}}
span([hidden] = '!toBeSaved')
  button.btn.btn-success.btn-block((click)='save()') Save
.form-group
  label Location Filter
  input.form-control(type='text' #inputFilter (keyup)="0")
table.table([hidden]='isLoading')
  thead
    tr
      th ID
      th Name
      th Latitude
      th Longitude
  tbody
    tr(*ngFor='let location of locations | locationFilter:inputFilter.value')
      td {{location.id}}
      td {{location.name}}
      td 
        content-editable([data]='getData(location, "latitude")', [(edit)] = 'location.editable', (valueEmitter)='valueListener($event)')
      td 
        content-editable([data]='getData(location, "longitude")', [(edit)] = 'location.editable', (valueEmitter)='valueListener($event)')
